/* Avatar.css */
.Avatar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 26px;
    padding-right: 127px;
    position: relative;
    /* background-color: rgb(8,17,22); */
  }
  
  .AvatarImg {
    flex: 1;
  }
  
  .AvatarImg img {
    max-width: 100%;
    height: auto;
    border-radius: 0 16px 16px 0px;
  }
  
  .AvatarText {
    flex: 1;
    padding-left: 20px;
  }
  .AvatarText :nth-child(1){
    font-family: Outfit;
font-size: 64px;
font-weight: 600;
line-height: 64px;
text-align: left;

color: rgba(255, 255, 255, 1);
  }
  .AvatarText :nth-child(2){
font-family: Outfit;
  font-size: 48px;
  font-weight: 400;
  line-height: 64px;
  text-align: left;
  color: rgb(129,155,241);

  }
  .AvatarText :nth-child(3){
    font-family: Outfit;
    font-size: 48px;
    font-weight: 400;
    line-height: 64px;
    text-align: left;
    Color: rgba(255, 255, 255, 0.3);    
      }
      .AvatarText :nth-child(4){
        font-family: Outfit;
        font-size: 48px;
        font-weight: 400;
        line-height: 64px;
        text-align: left;  
        Color: rgba(255, 255, 255, 0.3);
          }

          .AvatarText :nth-child(5){
            font-family: Outfit;
            font-size: 48px;
            font-weight: 400;
            line-height: 64px;
            text-align: left;
            Color: rgba(255, 255, 255, 0.3);     
              }

  .AvatarText p {
    margin: 10px 0;
    transition: color 0.3s ease;
  }
  
  .AvatarText p:focus {
    color: skyblue;
    outline: none;
  }
  
  .AvatarText p:first-of-type:focus {
   
    color: skyblue;
  }
  
  /* Additional CSS for scroll behavior */
  body {
    scroll-behavior: smooth;
  }
  
  /* JavaScript to handle scroll and focus */
  