@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
#nav{
    color: #FFFFFF; 
    background-color: #000000;
    /* background: rgba(0, 0, 0, 0.6); */
    border:0px 0px 1px 0px;
padding:16px 64px 16px 64px;
top: 0;
position: sticky;
z-index: 100;
}
nav div{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap:12px
}
nav >div button{
    width:134px;
    height:40px; 
    border-radius:4px;
    font-family: Outfit;
    font-size: 16px;
    font-weight: 500;
    line-height: 16px;
    text-align: center;
    color: #FFFFFF; 
    gap: 12px;
    border-color: transparent;
}

.second :nth-child(1){
    background: rgba(255, 255, 255, 0.3);
    padding-left: 12px;
}
.second :nth-child(2){
    background: linear-gradient(90deg, #9E6EE5 0%, #FA75F8 100%);
}

text{
    font-family: Outfit;
font-size: 20px;
font-weight: 500;
line-height: 25.2px;
letter-spacing: 0.5em;
text-align: left;
}
.first{
    display: flex;
    align-items: center;
    gap:48px
}
.first div{
    display: flex;
    Padding : 2px, 0px, 0px, 0px;
Gap:32px
}
.first div p{
    font-family: Outfit;
font-size: 16px;
font-weight: 400;
line-height: 24px;

}